# Download US level

In [5]:
from urllib.request import urlretrieve
import os
import sys
import pandas as pd
sys.executable # check environment

'/Users/pelly/opt/miniconda3/envs/gcp/bin/python'

In [3]:
urls = ['http://files.zillowstatic.com/research/public_v2/zori/Metro_ZORI_AllHomesPlusMultifamily_Smoothed.csv',
        'http://files.zillowstatic.com/research/public_v2/zhvi/Metro_Zhvi_AllHomes.csv']
files = ['../input2/zillow_US_rentals.csv', '../input2/zillow_US_hpi.csv']

# download files
for url, file in zip(urls, files):
    urlretrieve(url, file)

In [21]:
rentals = pd.read_csv(files[0], encoding='ISO-8859-1',nrows=1 )

In [22]:
price = pd.read_csv(files[1], encoding='ISO-8859-1',nrows=1 )

In [23]:
initial_date = price.columns.str.match('\d+-\d+').argmax()
initial_date

5

In [36]:
def clean_TS(df, ind):
    '''
    Function that melts time series in horizontal form to long form
    dfx: dataframe to be converted
    ind: name to attribute to the new columns (='value name'). 
    For zillow data is ok to set 'index', 'price', 'Zri'...
    '''
    
    # first date position
    initial_date = df.columns.str.match('\d+-\d+').argmax()
    
    # data in long format
    df =  (pd.melt(df,
            id_vars = df.columns[:initial_date],   # all columns before dates
            value_vars= df.columns[initial_date:], # columns with dates
            var_name='DATE',
            value_name=ind))
    
    return df[['DATE', ind]].set_index('DATE')

In [40]:
# prices
df = clean_TS(price,'price')
df.to_csv('../output/zillow_US_prices.csv')

# rentals
df = clean_TS(rentals,'rentals')
df.to_csv('../output/zillow_US_rentals.csv')

In [44]:
# check result
pd.read_csv('../output/zillow_US_prices.csv', index_col=0)

               price
DATE
1996-01-31  106884.0
1996-02-29  106911.0
1996-03-31  106962.0
1996-04-30  107087.0
1996-05-31  107230.0
...              ...
2019-12-31  246370.0
2020-01-31  247274.0
2020-02-29  248268.0
2020-03-31  249365.0
2020-04-30  250492.0

[292 rows x 1 columns]

In [45]:
# check result
pd.read_csv('../output/zillow_US_rentals.csv', index_col=0)

         rentals
DATE
2014-01     1254
2014-02     1262
2014-03     1265
2014-04     1279
2014-05     1293
...          ...
2019-12     1568
2020-01     1574
2020-02     1583
2020-03     1592
2020-04     1594

[76 rows x 1 columns]