# Tidy messy table

Tides messy table with states regions and divisions

In [99]:
import pandas as pd

In [100]:
%ls

state_abb.csv                        us_regions_divisions.csv
tidy_messytable_state_reg_div.ipynb

In [101]:
# load data
f = pd.read_csv('us_regions_divisions.csv', sep=';', header=None, names=['state'])[:-1]

In [102]:
f.head(3)

                                               state
0                               Region I: Northeast
1                           Division I: New England
2  Connecticut (09) Maine (23) Massachusetts (25)...

In [103]:
# new columns for region and division
f['region'] = f.state.str.extract('Region (.*)') # extract string inside (). ".*" means all
f['division'] = f.state.str.extract('Division (.*)')

In [104]:
f.head(3)

,state,region,division
0,Region I: Northeast,I: Northeast,NaN
1,Division I: New England,NaN,I: New England
2,Connecticut (09) Maine (23) Massachusetts (25)...,NaN,NaN

In [105]:
# fill forward empty cells
f.fillna(method='ffill', inplace=True)
f.head()

,state,region,division
0,Region I: Northeast,I: Northeast,NaN
1,Division I: New England,I: Northeast,I: New England
2,Connecticut (09) Maine (23) Massachusetts (25)...,I: Northeast,I: New England
3,Division 2: Middle Atlantic,I: Northeast,2: Middle Atlantic
4,New Jersey (34) NewYork(36) Pennsylvania (42),I: Northeast,2: Middle Atlantic

In [106]:
#### copy keep if it works

# extract text after colon (the names we want)
f['Region'] = f.region.str.extract(r'.*:(.*)')
f['Division'] = f.division.str.extract(r'.*:(.*)')

# extract state fips codes - will be added later, when rows are unique for each state
fips = f.state.str.extractall('\(([0-9]+)\)')
fips.reset_index(inplace=True, drop=True)

# for each state row, split states on numbers
f['State'] = f.state.str.split(r' ?\([0-9]+\)')

# drop rows originally for Region and Division
f = f[~(f.state.str.match('Region') |f.state.str.match('Division'))]


f.head(3)

,state,region,division,Region,Division,State
2,Connecticut (09) Maine (23) Massachusetts (25)...,I: Northeast,I: New England,Northeast,New England,"[Connecticut, Maine, Massachusetts, New Ham..."
4,New Jersey (34) NewYork(36) Pennsylvania (42),I: Northeast,2: Middle Atlantic,Northeast,Middle Atlantic,"[New Jersey, NewYork, Pennsylvania, ]"
7,Indiana (18) Illinois (17) Michigan (26) Ohio ...,2: Midwest*,3: East North Central,Midwest*,East North Central,"[Indiana, Illinois, Michigan, Ohio, Wiscon..."

In [107]:
# get rid of auxiliary columns and reset index
f.drop(['region', 'division', 'state'],1, inplace= True)
f.reset_index(drop=True, inplace=True)

In [108]:
# make lists to concatenate each group of state and repeat reg/division accordingly
s=[]
d=[]
r=[]
for _ in range(len(f)):
    s +=  (f.State.iloc[_])[:-1]
    d += ([f.Division.iloc[_]] * (len(f.State.iloc[_])-1))
    r += ([f.Region.iloc[_]] * (len(f.State.iloc[_])-1))

In [109]:
# make dataframe and final clean
df = pd.DataFrame([s,d,r]).T.head(60)
df.columns = ['state', 'division', 'region']
df.region=df.region.str.replace('\*', '') # Midwest* (had an asterisk)
df.state = df.state.str.replace(r"(\S)([A-Z])", r"\1 \2") # NewYork and RhodeIsland (missed space btw words)
df = df.applymap(lambda x: x.strip() if isinstance(x, str) else x)

In [111]:
df['StateCodeFIPS'] = fips

In [113]:
df.to_csv('../output/state_reg_div.csv', index=False)